# Basics of Python

#### This gives very basic idea of Python
#### Datatypes, Variables, Variable Assignment & Print

In [1]:
1+2

3

In [3]:
10* "Str"

'StrStrStrStrStrStrStrStrStrStr'

In [5]:
# Checking the data type
type("Harsh")

str

In [6]:
var_i = 5
type(var_i)

int

In [7]:
print(var_i)

5

In [8]:
# Print Function
fname = "Harsh"
lname = "Shrivastava"
print("My first name is {} and last name is {}".format(fname,lname))

My first name is Harsh and last name is Shrivastava

In [9]:
print("My first name is {first} and last name is {last}".format(last = lname, first = fname))

My first name is Harsh and last name is Shrivastava

In [12]:
len('Harsh')

5

In [24]:
# Inbuilt Functions
fname = "Harsh1"

In [26]:

print(fname.isalpha()) #checking is all char in string are alphabetic
print(fname.isdigit()) #checking is all char in string are digits
print(fname.endswith("h"))

False
False
False

# Python Data Structures



-  Boolean
-  Boolean & Logical Operators
-  Lists
-  Comparison Operators
-  Dictionaries
-  Tuples
-  Sets

### Boolean

In [5]:
# Boolean
a = bool()

In [7]:
print(a)

False

In [11]:
b = bool(True)
b

True

In [27]:
# Boolean Operators
True and False

False

In [28]:
True and True

True

In [8]:
True or False

True

In [12]:
not b

False

### Lists

In [15]:
lst_example = []

In [14]:
type(lst_example)

list

In [24]:
lst_example = ['Mathematics','Chemistry',100,200,True]

In [25]:
len(lst_example)

5

###### Append  List

In [19]:
Lst_a = list(["Physics"])
print(Lst_a)

['Physics']

In [26]:
lst_example.append("Physics")

In [34]:
lst_example.append('test')

In [35]:
lst_example

['Mathematics', 'Chemistry', 'Guru', 100, 200, True, 'Physics', 'test']

In [28]:
# List index starts from 0 and goes to n-1
lst_example[1]

'Chemistry'

In [29]:
lst_example[4]

True

In [40]:
lst_example[:]

['Mathematics', 'Chemistry', 100, 200, True, 'Physics']

In [42]:
lst_example[2:5]

[100, 200, True]

In [43]:
lst_example[:5]

['Mathematics', 'Chemistry', 100, 200, True]

In [31]:
lst_example[3:-1]

[200, True]

###### Insert  List

insert(index, element)

In [32]:
lst_example.insert(2,"Guru")

In [33]:
lst_example

['Mathematics', 'Chemistry', 'Guru', 100, 200, True, 'Physics']

###### Extend  List

In [53]:
lst_1 = [1,2,3,4,5,7,6,5,5]

In [54]:
lst_1.extend([8,9])

In [55]:
lst_1

[1, 2, 3, 4, 5, 7, 6, 5, 5, 8, 9]

###### Pop  List

Used to delete an element

In [56]:
lst_1.pop(0)

1

In [57]:
lst_1.sort()

In [60]:
lst_1.pop(lst_1.index(5))

5

In [51]:
min(lst_1)

2

In [62]:
lst_1.remove(5)

In [63]:
lst_1

[2, 3, 4, 5, 6, 7, 8, 9]

### Sets

No Duplicates

In [57]:
set_var = set()

In [58]:
type(set_var)

set

In [68]:
set_var = {"Avengers","ironMan","Hitman"}

In [69]:
print(set_var)

{'Avengers', 'ironMan', 'Hitman'}

In [63]:
set_var.add("Hulk")

In [64]:
set_var

{'Avengers', 'Hitman', 'Hulk', 'ironMan'}

In [65]:
set_var.add("Hulk")

In [67]:
# Hulk will not repeat
set_var

{'Avengers', 'Hitman', 'Hulk', 'ironMan'}

### Dictionaries

Key Value Pair

In [70]:
my_dict = {"Car1":"Audi","Car2":"Merc"}

In [69]:
type(my_dict)

dict

In [71]:
my_dict["Car1"]

'Audi'

In [72]:
# Shows only keys
for x in my_dict:
    print(x)

Car1
Car2

In [74]:
# Shows only values
for y in my_dict.values():
    print(y)

Audi
Merc

In [75]:
# Shows entire key value pair
for z in my_dict.items():
    print(z)

('Car1', 'Audi')
('Car2', 'Merc')

In [104]:
# Adding new Value
my_dict["Car3"] = "Maruti"

In [105]:
my_dict

{'Car1': 'Porche', 'Car2': 'Merc', 'Car3': 'Maruti'}

In [106]:
# Will override the data
my_dict["Car1"] = "Hyundai"

In [107]:
my_dict.update({"Car1":"Porche"})

In [108]:
my_dict

{'Car1': 'Porche', 'Car2': 'Merc', 'Car3': 'Maruti'}

In [109]:
my_dict.pop("Car1")

'Porche'

In [110]:
my_dict

{'Car2': 'Merc', 'Car3': 'Maruti'}

### Tuples

Tuples once created, its items/elements cannot be changed. Entire Tuple can change to new one though

In [111]:
my_tuples = ("Harsh","Mohseen","Partho","Sana")

In [112]:
my_tuples

('Harsh', 'Mohseen', 'Partho', 'Sana')

In [115]:
my_tuples[1]

'Mohseen'